@media (max-width: 575px) {

     /* intro */

     .intro-title {
          font-size: 65px;
     }

     .intro-sup_title {
          font-size: 40px;
     }

     /* universal */

     .universal_header {
          margin-bottom: 20px;
     }

     /* statistics */

     .statistics-stat_item {
          width: 100%;
          border-bottom: 1px solid #b5eae0;
     }

     .statistics-stat_item:last-child {
          border-bottom: 0;
     }

     /* amazing devices */

     .devices {
          max-width: 320px;
     }

     .devices_item-iphone {
          max-width: 65%;
          height: auto;
          bottom: -70px;
          right: -55px;
     }

     /* jon doe */

     .jon_doe-reviews_photo {
          width: 140px;
          height: 140px;
     }

     /* works */

     .works_col {
          width: 100%;
     }

     /* footer */

     .subscribe {
          flex-wrap: wrap;
          max-width: none;
     }

     .subscribe_input,
     .subscribe_button {
          width: 100%;
     }

     .subscribe_input {
          margin-bottom: 10px;
          border-right: 1px solid #e7e7e7;
     }

}