@media (max-width: 990px) {

     /* intro */

     .intro-title {
          font-size: 95px;
     }

     .intro-sup_title {
          font-size: 52px;
     }

     /* statistics */

     .statistics-stat {
          justify-content: center;
     }

     .statistics-stat_item {
          flex: none;
          width: 33.33%;
          border: 0;
          padding-top: 30px;
          padding-bottom: 30px;
     }

     .statistics-stat_item:last-child {
          border: 0;
     }

     /* services */

     .services_item {
          width: 50%;
          padding-bottom: 0;
     }

     .sevices_item-border {
          border-bottom: 0;
     }

     /* jon doe */

     .jon_doe-reviews .slick-slider {
          padding: 0 60px;
     }

     .jon_doe-reviews_photo {
          width: 150px;
          height: 150px;
     }

     .jon_doe-item {
          padding-left: 175px;
     }

     .jon_doe-item_text {
          font-size: 18px;
     }

     .slick-arrow {
          top: 35%;
     }

     /* clients */

     .clients {
          max-width: 700px;
          margin: 0 auto;
     }

     .clients_item {
          width: 100%;
          padding-right: 0;
     }

     .clients_item:last-child {
          margin-bottom: 0;
     }

     /* footer */

     .footer_col-left {
          width: 100%;
     }

     .footer_col-center,
     .footer_col-right {
          width: 50%;
     }

     /* footer_instagram */

     .footer_instagram {
          justify-content: flex-start;
     }

     .footer_instagram-item {
          width: auto;
          border-right: 1px solid #fff;
     }

}